
#map {
    width: 860px;
    height: 520px;
    text-align: center;
}

#line {
    width: 860px;
    height: 200px;
    text-align: center;
}

#yearSlider {
    position: absolute;
    left: 100px;
    right: 90px;
    margin-top: 3px;
}